main{
    width: 100vw;
    height: calc(100vh - 160px);
    display: flex;
    overflow: hidden;
}

app-person-wrapper{
    flex: 12;
}
app-messages{
    flex: 5;
}

@media all and (max-width: 720px){
    main{
        flex-direction: column;
        height: initial;
    }
}